* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-wrapper {
    padding: 50px 0px;
    max-width: 840px;

    background-color: rgb(255, 255, 255) !important;
}

.logo {
    cursor: pointer;
}

.logo {
    color: rgb(41, 41, 41);
    font-size: 24px;
    font-weight: 700;
    width: max-content;
    text-decoration: none;
    cursor: pointer;
}


.header-sticker {
    box-sizing: border-box;
    margin: 0;
    min-width: 0vh;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff59d;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}



