<div class="article">
    <p>
        <a href="https://en.wikipedia.org/wiki/Regula_falsi" target="_blank">False Postion method</a> 
        (also known as <a>Regula Falsi</a>) 
        is bracketing method and starts with two initial guesses 
        say <span class="code">x0</span> and <span class="code">x1</span> such that 
        <span class="code">x0</span> and <span class="code">x1</span> brackets the root i.e. 
        <span class="code">f(x0)·f(x1)< 0</span>.
    </p>
    <p>
        Root is obtained by successive halving the interval i.e. 
        If <span class="code">x0</span> and <span class="code">x1</span> 
        are two guesses then we compute a new approximated value as: 
    </p>
    <div class="equation">
        <p>
            {{'$$ x_2 = x_0 - f(x_0) \\cdot \\frac{(x_1 - x_0)}{f(x_1) - f(x_0)} $$'}}
        </p>
    </div>
    <p>
        which then is used as one of the two bracketing values in the next step of the iteration.
    </p>
    <p>
        Here we have following three different cases:
    </p>
    <ol>
        <li>If <span class="code">f(x2)=0</span> then the root is <span class="code">x2</span>.</li>
        <li>If <span class="code">f(x0)·f(x2)<0</span> then root lies between <span class="code">x0</span> and <span class="code">x2</span>.</li>
        <li>If <span class="code">f(x0)·f(x2)>0</span> then root lies between <span class="code">x1</span> and <span class="code">x2</span>.</li>
    </ol>
    <p>
        So that after each iteration we redefine bracketing values and 
        repeat the calculation process until we find the root within desired accuracy.
    </p>
</div>