<div class="article">
    <p>
        <a href="https://byjus.com/maths/secant-method/" target="_blank">Secant method</a> is is a variation of 
        <a href="https://brilliant.org/wiki/newton-raphson-method/#:~:text=The%20Newton%2DRaphson%20method%20(also,straight%20line%20tangent%20to%20it." target="_blank">Newton’s method</a> 
        and starts with two initial guesses, 
        say <span class="code">x0</span> and <span class="code">x1</span> such that 
        <span class="code">x0</span> and <span class="code">x1</span> brackets the root i.e. 
        <span class="code">f(x0)·f(x1)< 0</span>.
    </p>
    <p>
        If <span class="code">x0</span> and <span class="code">x1</span> 
        are two guesses then we compute a new approximated value as: 
    </p>
    <div class="equation">
        <p>
            <!-- {{'$$x_2 = x_1 - f(x_1) \\cdot \\frac{(x_1 - x_0)}{f(x_1) - f(x_0)} $$'}} -->
            <span id="mathContent" [innerHTML]="content"></span>
        </p>
    </div>
    <p>
        which then is used as one of the two bracketing values in the next step of the iteration.
    </p>
    <p>
        So that after each iteration we redefine bracketing values and 
        repeat the calculation process until we find the root within desired accuracy.
    </p>
</div>