<title>Solve it :: Numerical methods online calculator</title>
<div class="content-wrapper">
    <div class="title">
        <h1>Online calculator to solve <span style="color: rgb(143, 100, 211);">numerical method</span> 
            problems online</h1>
    </div>
    <div class="tools-content">
        <a class="tool-card" *ngFor="let tool of tools"
            routerLink={{tool.href}}>
            <h2>{{tool.title}}</h2>
            <div style="height: 30px;"></div>
            <h5>
                Start
            </h5>
        </a>
    </div>
    
</div>




