<div class="article">
    <p>
        <a href="https://en.wikipedia.org/wiki/Newton%27s_method" target="_blank">Newton Raphson method</a> is an open method and starts 
        with one initial guess <span class="code">x0</span>.
    </p>
    <p>
        Suppose that an actual non-linear function <span class="code">f(x)</span> 
        is twice continuously differentiable in some 
        interval about a point <span class="code">x0</span> such that 
        <span class="code">f(x0) = 0</span> and <span class="code">f′(x0) != 0</span>.
    </p>
    <p>
        Then an approximated root can be obtained by following formula:
    </p>
    <div class="equation">
        <p>
            {{'$$x_1 = x_0 - \\frac{f(x_0)}{f^{\\prime}(x_0)}$$'}}
        </p>
    </div>
    <p>
        Therefore <span class="code">x1</span> should be a better approximation of <span class="code">x</span>
        than  <span class="code">x0</span>.
    </p>
    <p>
        The algorithm involves repetition of above process until we find the root within desired accuracy.
    </p>
</div>