<div class="article">
    <p>
        <a>Brute Force method</a> is bracketing method and starts with two initial guesses 
        say <span class="code">x0</span> and <span class="code">x1</span> such that 
        <span class="code">x0</span> and <span class="code">x1</span> brackets the root i.e. 
        <span class="code">f(x0)·f(x1)< 0</span>.
    </p>
    <p>
        The root is obtained by successively trying the variable <span class="code">x</span> with a given 
        <span class="code">step</span>. 
        At each step we need to save such a value of the variable <span class="code">x</span>, 
        at which <span class="code">y=f(x)</span> is minimal.
    </p>
    <p>The calculation process is repeated until we find the root within desired accuracy.</p>
</div>